<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Post</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
   <div class="centre">
       <h2>Add New Post</h2>
       <form method="POST">
           <label>Title:</label>
           <input type="text" name="title" required>
           <br>
           <label>Content:</label>
           <textarea rows="10" name="content" required></textarea>
           <br>
           <button type="submit">Create post</button>
       </form>
    </div>
</body>
</html>
